body {

  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
  color: #40514E;
}
h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;

}

h2 {
  color: #8675a9;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;


}
h3 {
  color: #8675a9;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #8675a9;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  line-height: 2;
  text-decoration: none;



}

a:hover {
  color: #ffd5cd;
}
hr {
  border: dotted  #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 6%
}

p {
  line-height: 2;
}
.profile {
  width: 30%;
  margin: auto;

}
.profile-img {
  width: 25%;
}

.top-container {
  background-color: #ffe2e2;
  position: relative;
  padding-top: 250px;

}
.middle-container {
  margin: 30px auto;

}
.bottom-container {
  background-color: #efbbcf;
  padding: 30px 0;

}
.top-cloud {
  position: absolute;
  right: 30%;
  top: 9%;

}
.bottom-cloud {
bottom: 50%;
position: absolute;
left: 25%;

}

.skill-row {
  width: 50%;
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  padding: 30px 0;
}

.skill-keyboard-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}
.skill-conversation-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.btn {
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.5em;
   font-weight: bold;
   padding: 20px;
   background-color: #C3AED6;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   margin: 100px auto;
   text-align: center;
}

.end-text {
  margin: 40px auto;
  width: 40%;
}

.attrib {
  margin: 0;
  font-size: 0.75rem;
}
